.App {
  text-align: center;
  overflow: hidden;
}

.header{
  position: relative;
  z-index: 1;
  margin: 0;
  padding: 0;
  text-decoration: underline;
  margin-bottom: 10px;
}

.bottom-right-fixed{
  right: 0px;
  bottom: 0px;
  position: fixed;
  padding: 20px;
  text-align: left;
  z-index: 1;
}